<h2>Edit Clients Details</h2>

<form action="/members/<%= @member.id %>" method="post">
  <label for="first-name">First Name:</label>
    <input id = 'first-name' type="text" name="first_name" value="<%= @member.first_name %>"/>
    <br>
    <br>
  <label for="last-name">Last Name:</label>
    <input id = "last-name" type="text" name="last_name" value="<%= @member.last_name %>" />
    <br>
    <br>
  <label for="age">Their D/O/B</label>
    <input id = "age" type="date" name="dob" value="<%= @member.dob %>" />
    <br>
    <br>
  <label for="goal">What are their goals?</label>
    <input id = "goal" type="text" name="goal" value="<%= @member.goal %>" />
  <input type="submit" value="Update Member" />
</form>
