<div class="show">


<img src="/images/<%= @member.image %>" />
  <br>
  <br>
  <form action='/members/<%= @member.id %>/upload-image' enctype="multipart/form-data" method='POST'>
      <input name="file" type="file" />
      <input type="submit" value="Upload" />
  </form>

  <h1><%= @member.first_name %> <%= @member.last_name %></h1>
  <h2>Goal: <%= @member.goal %></h2>

  <h3>Workouts booked</h3>

  <% @member.workouts_booked.each do |workout| %>
    <li><%= workout.name %></li>
  <hr />
  <% end %>

  <a href="/members">Back</a>

</div>
