<div class="index">
  <h1>WORKOUTS</h1>
  <button class="new-button" type="button" onclick="location.href='/workouts/new'">ADD A NEW CLASS</button>

  <!-- <div class="index-table"> -->
  <div class="workout-container">
    <% @workouts.each do |workout| %>
      <div class="index-table">
      <p><b>Name: <%= workout.name %></b></p>
      <p><b>Type:</b> <%= workout.type %></p>
      <p><b>Trainer:</b> <%= workout.trainer %></p>
      <p><b>Day of the week:</b> <%= workout.day_of_week %></p>
      <p><b>Time:</b> <%= workout.start_time %> to <%= workout.end_time %></p>

      <div class="index-buttons">
        <button class="index-button-members1" type="button" onclick="location.href='/workouts/<%= workout.id %>/edit'">EDIT</button>
        <button class="index-button-members2" type="button" onclick="location.href='/workouts/<%= workout.id %>/members'">MEMEBERS REGISTERED</button>

        <form method="post" action="/workouts/<%= workout.id %>/delete" >
          <input type="submit" value="DELETE">
        </form><br>

      </div>
      </div>
    <% end %>
  </div>
    <!-- </div> -->
</div>
