<h1>WORKOUTS</h1>

<% @workouts.each do |workout| %>
  <p>Name: <%= workout.name %></p>
  <p>Type: <%= workout.type %></p>
  <p>Trainer: <%= workout.trainer %></p>
  <p>Capacity: <%= workout.capacity %></p>
  <p><a href="/workouts/<%= workout.id %>/edit">Edit Class</a></p>
  <p><a href="/workouts/<%= workout.id %>/members">Members taking part</a></p>
  <form method="post" action="/workouts/<%= workout.id %>/delete" >
    <input type="submit" value="Delete Workout">
  </form>
  <hr />
<% end %>
