<h1>WORKOUTS</h1>
<h2><a href="/workouts/new">Add a new class</a></h2>

<% @workouts.each do |workout| %>
  <p>Name: <%= workout.name %></p>
  <p>Type: <%= workout.type %></p>
  <p>Trainer: <%= workout.trainer %></p>
  <p>Day of the week: <%= workout.day_of_week %></p>
  <p>Time: <%= workout.start_time %> to <%= workout.end_time %></p>
  <p><a href="/workouts/<%= workout.id %>/edit">Edit Class</a></p>
  <p><a href="/workouts/<%= workout.id %>/members">Members taking part</a></p>
  <form method="post" action="/workouts/<%= workout.id %>/delete" >
    <input type="submit" value="Delete Workout">
  </form>
  <hr />
<% end %>
