<h1>Create Booking</h1>

<form action="/bookings/<%= @member.id %>" method="post">
  <label for="first-name">First Name:</label>
    <input id = 'first-name' type="text" name="first_name" value="<%= @member.first_name %>"/>
    <br>
    <br>
  <label for="last-name">Last Name:</label>
    <input id = "last-name" type="text" name="last_name" value="<%= @member.last_name %>" />
    <br>
    <br>
  <label for="workout-select">What class do they wish to join?</label>
     <select name="workout_id" id="workout-select">
       <% @workout.each do |workout| %>
           <option value=<%= workout.id %>><%= workout.name %></option>
       <% end %>
     </select>
    <br>
    <br>
  <input type="submit" value="Create Booking">
</form>
